# Eclipse
.metadata/
*.tmp
*.bak
.recommenders/

# Build / target
target/
build/

# IDE files
*.classpath
*.project
*.settings/

# Tomcat temp
.wtpwebapps/
*.log

# OS
Thumbs.db
.DS_Store

# OneDrive / local caches
*.orig

/questiontool-web/build/
/questiontool-web/src/main/webapp/WEB-INF/lib/
/Servers/
*.class
